<!DOCTYPE HTML>
<!--
Prologue by HTML5 UP
html5up.net |
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    @* <title>Prologue by HTML5 UP</title> *@
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="~/assets/css/main.css"/>
    <title>@ViewData["PageTitle"]</title>
    <partial name="_HtmlThemePartial"/>

</head>
<body class="is-preload">

<!-- Header -->
<div id="header">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <span class="image avatar48">
                <img src="images/avatar.jpg" alt=""/>
            </span>
            <h1 id="title">Jane Doe</h1>
            <p>Hyperspace Engineer</p>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li>
                    <a id="home-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <span class="icon solid fa-home">Home</span>
                    </a>
                </li>
                <li>
                    <a id="portfolio-link" asp-area="" asp-controller="category" asp-action="category">
                        <span class="icon solid fa-th">Category</span>
                    </a>
                </li>
                <li>
                    <a id="about-link" asp-area="" asp-controller="Home" asp-action="About">
                        <span class="icon solid fa-user">About Me</span>
                    </a>
                </li>

                <li>
                    <a id="contact-link">
                        <span class="icon solid fa-envelope">Contact</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="archive" asp-action="archive" id="archive-link">
                        <span class="icon solid fa-user">Archive</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="feed" asp-action="rss" id="rss-link">
                        <span class="icon solid fa-user">Subscribe</span>
                    </a>
                </li>
                <li dasblog-authorized>
                    <a asp-area="" asp-controller="post" asp-action="create" id="createpost-link">
                        <span class="icon solid fa-user">Create post</span>
                    </a>
                </li>
                <li dasblog-authorized>
                    <a asp-area="" asp-controller="admin" asp-action="settings" id="site-admin-link">
                        <span class="icon solid fa-user">Site Admin</span>
                    </a>
                </li>
                <li dasblog-authorized>
                    <a asp-area="" asp-controller="admin" asp-action="managecomments" id="manage-comments-link">
                        <span class="icon solid fa-user">Manage comments</span>
                    </a>
                </li>
                <li dasblog-authorized>
                    <a asp-area="" asp-controller="author" asp-action="index" id="author-link">
                        <span class="icon solid fa-user">Author</span>
                    </a>
                </li>
                <li dasblog-authorized>
                    <a asp-area="" asp-controller="activity" asp-action="index" id="activity-link">
                        <span class="icon solid fa-user">Activity</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="bottom">

        <!-- Social Icons -->
        <ul class="icons">
            <li>
                <a href="#" class="icon brands fa-linkedin">
                    <span class="label">LinkedIn</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon brands fa-github">
                    <span class="label">Github</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon solid fa-envelope">
                    <span class="label">Email</span>
                </a>
            </li>
        </ul>

    </div>

</div>

<!-- Main -->
<div id="main">

    <!-- Intro -->
    <section id="top" class="one dark cover">
        <div class="container">

            <header>

                <h2 class="alt">
                    @ViewData["PageTitle"]
                </h2>
                <p>
                    @ViewData["Description"]
                </p>

            </header>

        </div>
    </section>

    <!-- Portfolio -->
    <section id="portfolio" class="three">
        <div class="container">
            @RenderBody()

            <site-page-control view-context="@ViewContext"/>
        </div>
    </section>
</div>

<!-- Footer -->
<div id="footer">

    <!-- Copyright -->
    <ul class="copyright">
        <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>

</div>

<!-- Scripts -->
<script src="~/assets/js/jquery.min.js"></script>
@* <script src="~/assets/js/jquery.scrolly.min.js"></script> *@
@* <script src="~/assets/js/jquery.scrollex.min.js"></script> *@
@* <script src="~/assets/js/browser.min.js"></script> *@
@* <script src="~/assets/js/breakpoints.min.js"></script> *@
<script src="~/assets/js/util.js"></script>
<script src="~/assets/js/main.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("scripts", required: false)

</body>
</html>